html, body{
    /* Get rid of white space */
    /* padding:5%; */
    margin:3px;
}

.img{
    width:100%;
}
.btn-primary{
    width:100%;
    
}
#displaying{
    text-align: center;
    margin:5px;
}

.con{
    padding:0px;
    margin:0px;
    width:100%;
}

.content{
    margin:5px;
    position: relative;
}

.overlay{
    font-size: 13px;
    visibility: hidden;
    height: 100%;
    width:100%;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0,0,0,.7);
    
    display:flex;
    justify-content: center;
    align-items: center;

    overflow:hidden;
    
    
}

.con:hover .overlay{
    visibility: visible;
}

.desc{
    text-align:center;
    margin:auto;
    color:white;
    position: absolute;
    
   
    opacity:1.0;
}

.movietitle{
    text-align: center;
}


